<h2>Your Hosted Events</h2>
<p>
  <% @hosted_events.each do |event| %>
    <p>
      <h3><%= link_to event.name, event_path(event) %></h3>
      <%= event.event_date %>, <%= event.published ? 'Currently published' : 'Currently draft' %> | 
      <%= link_to 'Remove Event', event_path(event.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <p>
  <% end %>  
</p>

<h2>Events You've Signed Up For</h2>
<p>
  <% @attended_events.each do |event| %>
    <h3><%= link_to event.name, event_path(event) %></h3>
  <% end %>
</p>

<%= link_to 'Back', root_path %>
