<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <article>
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </article>
  <% end %>

  <div class="container">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="container">
    <%= form.label :event_date %>
    <div class="grid">
      <%= form.datetime_select :event_date %>
    </div>
  </div>

  <div class="grid">
    <div class="container">
      <%= form.label :open_join %>
      <%= form.check_box :open_join %>
    </div>

    <div class="container">
      <%= form.label :published %>
      <%= form.check_box :published %>
    </div>
  </div>

  <div class="container">
    <%= form.label :max_guests %>
    <%= form.number_field :max_guests %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
