<h1>Published Events</h1>
<% @public_events.each do |event| %>
  <div>
    <h2><%= link_to event.name, event %></h2>
    <p>
      Hosted by: <%= event.host.name %> at <%= event.event_date %><br>
      Maximum guests: <%= event.max_guests %>
      <% if user_signed_in? && event.creator_id == current_user.id %>
        -> <%= link_to 'Edit', edit_event_path(event) %> | 
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </p>
    
  </div>
<% end %>

<h1> Past Events</h1>
<% @past_events.each do |event| %>
  <div>
    <h2><%= link_to event.name, event %></h2>
    <p>
      Hosted by: <%= event.host.name %> at <%= event.event_date %><br>
      Maximum guests: <%= event.max_guests %>
      <% if user_signed_in? && event.creator_id == current_user.id %>
        -> <%= link_to 'Edit', edit_event_path(event) %> | 
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </p>
    
  </div>
<% end %>

<% unless @pending_events.nil? || @pending_events.empty? %>
  <h1>Draft Events</h1>

  <% @pending_events.each do |event| %>
    <div>
      <h2><%= link_to event.name, event %></h2>
      <p>
        Planned for <%= event.event_date %><br>
        Maximum guests: <%= event.max_guests %>
        <% if user_signed_in? && event.creator_id == current_user.id %>
          -> <%= link_to 'Edit', edit_event_path(event) %> | 
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
    </div>
  <% end %>

  <br>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>