<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Open join:</strong>
  <%= @event.open_join %>
</p>

<p>
  <strong>Published:</strong>
  <%= @event.published %>
</p>

<p>
  <strong>Max guests:</strong>
  <%= @event.max_guests %>
</p>

<% if user_signed_in? %>
  <% if @event.creator_id == current_user.id %>
    <%= link_to 'Edit', edit_event_path(@event) %>
  <% else %>
    <%= link_to 'Join', new_invitation_path(:event_id => @event.id) %>
  <% end %> |&nbsp;
<% end %>
<%= link_to 'Back', events_path %>