<h2><%= event.name %></h2>
<p><%= event.event_date %></p>

<%= form_with(model: invitation) do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :event_id, value: params[:event_id] %>
  <%= form.hidden_field :attendee_id %>

  <div class="actions">
    <%= form.submit value: "Join!" %>
  </div>
<% end %>
